<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/hello/testRequestMapping}">测试RequestMapping注解的位置</a>
<a th:href="@{/testRequestMapping}">测试RequestMapping注解的value属性</a>
<a th:href="@{/test}">测试RequestMapping注解的value属性</a>
<a th:href="@{/testGetMapping}">测试testGetMapping注解</a>
<form th:action="@{/test}" method="post">
    <input type="submit" value="测试RequestMapping注解的method属性-->post">
</form>

<form th:action="@{/testPut}" method="put">
    <input type="submit" value="测试是否能发送put请求">
</form>
</body>
</html>