<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
success
<a th:href="@{/testRequestByServletAPI}">通过ServletAPI向request域对象共享数据</a><br>
<a th:href="@{/testModelAndView}">通过ModelAndView向request域对象共享数据</a><br>
<a th:href="@{/testModel}">通过Model向request域对象共享数据</a><br>
<a th:href="@{/testMap}">通过Map向request域对象共享数据</a><br>
<a th:href="@{/testModelMap}">通过ModelMap向request域对象共享数据</a><br>
<a th:href="@{/testSession}">通过Session向request域对象共享数据</a><br>
<a th:href="@{/testApplication}">通过Application向request域对象共享数据</a><br>
<a th:href="@{/testRedirect}">通过Redirect重定向</a><br>

</body>
</html>